@import "../../styles/variables";
@import "../../styles/mixins";

.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .material-symbols-outlined {
    font-size: 1.5rem;
  }

  &--primary {
    color: $primary;
  }

  &--secondary {
    color: $on-surface-variant;
  }

  &--error {
    color: $error;
  }

  &--white {
    color: white;
  }

  // Sizes
  &--sm {
    .material-symbols-outlined { font-size: 1rem; }
  }

  &--md {
    .material-symbols-outlined { font-size: 1.5rem; }
  }

  &--lg {
    .material-symbols-outlined { font-size: 2rem; }
  }

  &--xl {
    .material-symbols-outlined { font-size: 3rem; }
  }
}
