@use './styles/variables' as v;

// App.scss - Initialized for Clean Rebuild
.app-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: v.$background;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
