@use '../../styles/variables' as v;

.handle {
  width: 1px;
  background-color: v.$border;
  transition: background-color 0.2s ease;
  position: relative;
  z-index: 10;
  cursor: col-resize;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -4px;
    right: -4px;
    background-color: transparent;
  }

  &:hover, &:active {
    .line {
      background-color: v.$primary;
    }
  }

  &.vertical {
    width: 100%;
    height: 1px;
    cursor: row-resize;

    &::after {
      left: 0;
      right: 0;
      top: -4px;
      bottom: -4px;
    }

    .line {
      width: 100%;
      height: 2px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  background-color: transparent;
  transition: background-color 0.2s ease;
}
